<head th:fragment="head">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Chris Tremblay & Bootstrap contributors">
    <title th:text="${containerEnvironment.appVersion}"></title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">
	
	<link href="content/bootstrap-5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this App -->
	<link href="content/adoboardsview.css" rel="stylesheet">
    
    <!-- Bootstrap styles for this template -->
    <link href="content/dashboard/dashboard.css" rel="stylesheet">
</head>